<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCztudFk2aVggeuS0zUcy2pUKH8Gnw_fQ0</string>
	<key>GCM_SENDER_ID</key>
	<string>851571019902</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>aldiyar.ToDoList</string>
	<key>PROJECT_ID</key>
	<string>todolist-13a6d</string>
	<key>STORAGE_BUCKET</key>
	<string>todolist-13a6d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:851571019902:ios:eba0b0fba7c5432f8ec82f</string>
</dict>
</plist>